html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: rgb(9, 35, 175);
  background: linear-gradient(
    180deg,
    rgb(8, 31, 158) 0%,
    rgb(44, 15, 15) 100%
  );
  color: #fff;
}

