form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input,
textarea,
select {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

textarea{
    min-width: 300px;
    min-height: 100px;
}

select{
    min-width: 300px;
}

span{
    
}
